body {
   margin: 0; /* Remove default margin */
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Optional: Hide horizontal scrollbar */
  }

  
/* change the fonts */

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: white;
    padding-bottom: 60px; /* Adjust the value according to your preference */
        }
}

p { 
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* change background color */

body {
    background-color: black;
}


/* make all images responsive */

img {
    max-width: 100%;
    height: auto;
}


/* fade on hover */

.image-container {
    position: relative;
}

.fade-on-hover {
    opacity: 0; /* Start with full opacity */
    transition: opacity 10s ease; /* Add a smooth transition effect */
}

.fade-on-hover:hover {
    opacity: 1; /* Adjust the desired opacity on hover (0 to 1) */
    transition: opacity 10s ease; /* Add a smooth transition effect for fade-out */
}



/* Center an image horizontally */

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

